DATABASE_URL="prisma url"

JWT_SECRET="jwt secret"
JWT_EXPIRES_IN=7d

PORT=4000
NODE_ENV="development"


# sockets
USERNAME=default
PASSWORD=xtfL8I5nSqMRHzPTeKjxpoOiJbtM6VSH
HOST=redis-10510.c276.us-east-1-2.ec2.cloud.redislabs.com
PORT=10510